
footer{
    height: 443px;
    box-sizing: border-box;
    width: 100%;
    background-color:#111c43;
    display: grid;
    grid-template-columns: 40% 300px 40%;
    gap: 50px;
    font-family: 'Marcellus', serif;
}

#footer-pic{
    width: 100%;
    height: 300px;
}

.learn-more{
    display: grid;
    grid-template-rows: 20% 40% 20%;
    gap: 10px;
    padding: 50px 10px 50px 10px;
}

.learn-more header{
    font-size: 25px;
    color: #ffffff;
    text-align: start;
    box-sizing: border-box;
    padding: 0 100px 0 100px;
}

.learn-more-info{
    font-size: 20px;
    font-family: 'Metropolis', serif;
    font-weight: lighter;
    color: #ffffff;
    text-align: justify;
    display: flex;
    justify-content: center;
    padding: 0 100px 0 100px;
}

.rise-and-shine{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-links{
    display: flex;
    height: 100%;
    align-items: center;
}

.visit{
    text-align: start;
    color: white;
    font-size: 15px;
    padding: 0 100px 0 100px;
}

.inner-quick-links header{
    color: #ffffff;
    font-size: 25px;
    font-family: 'Metropolis', serif;
}
.inner-quick-links li{
    font-family: 'Metropolis', serif;
    font-size: 19px;
    color: #ffffff;
    list-style: none;
    line-height: 1.8;
}